header{
    height: 5rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    font-size: larger;
    padding: 0.4rem 0 0.5rem 1rem;
    color: #fff;
 
}

nav{ 
    padding-right: 17%;
}
.add-and-show-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2rem;
   color: black;
    font-size: 18px;
}
.add-and-show-list li:nth-child(1){
   color: #7f7f7f;
    margin-right: 5rem;
    
}
.add-and-show-list li:nth-child(2){
   
    margin-right: 5rem;
    
}

.add-and-show-list a:hover{
    background-color:#e0e0e0;
    
}

.add-and-show-list a:active{
    background-color: blueviolet;
}
.exercise-finder{
    
    display: flex;
    flex-direction: row;
    padding-right: 12%;
}
.find-exercise{
    width: -50%;
}
.clear-search-bar{
    border-color: #d9534f;
    color:#d9534f ;
    margin-left: 10%;
    padding: 3%;
    border-radius: 10%;
    padding: 2%;
    width: 5rem;
    font-size: 16px;
}
.clear-search-bar:hover{
    border-color: #d9534f;
}
.exercise_item{
    height: 2000px;
}