  
<header id="header" class="header lock__padding">
    <div class="header__row">
        <div class="header__left-block">
            <a href="" class="header__title">Exercises</a>
            <div class="header_nav">
                <ul class="header__ul">
                    <li class="header__li grey__li"><a id="all__exercises" class="header__a" href="">Your exercises</a></li>
                    <li class="header__li"><a id="add__exercise" class="header__a popup__link" href="#popup__add">Add An Exercise</a></li>
                </ul>
            </div>
        </div>
        <div class="header__menu">
            <input 
                id="header__input"
                class="header__input" 
                type="text" 
                placeholder=" Find exercise you need">
            <button id="clear__btn" class="header__button clear_btn">clear</button>
        </div>
    </div>
</header>